POSTGRES_DB=arcticblue
POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password

DB_URL=jdbc:postgresql://localhost:5432/arcticblue
DB_USERNAME=your_postgres_username
DB_PASSWORD=your_postgres_password
